{% extends 'goodauth/base.html' %}
{% load bootstrap3 %}

{% block title %}
	Login
{% endblock %}

{% block content %}
	{% url 'goodauth:password_reset' as password_reset_url %}

	<form action="{% url 'goodauth:login' %}" method='POST'>
		{% csrf_token %}
		{% bootstrap_form form %}
		{% buttons %}
			{% bootstrap_button button_type='submit' button_class='btn-primary' content='Login'%}
			{% bootstrap_button button_type='link' button_class='btn-secondary' content='Forgot Password' href=password_reset_url %}
		{% endbuttons %}
		<input type="hidden" name=next value="{{ next }}">
	</form>
{% endblock %}